@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    font-family: 'cwTeXYen', sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.small {
    font-size: 1rem
}

.medium {
    font-size: 3rem
}

.toolbar {
    background: #ff0066;
}

.big {
    font-size: 5rem
}

.tab-link-highlight {
    display: none;
}

img.head {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
}

#pointList {
    font-size: 1.5rem;
}

#pointList span {
    font-size: 1rem;
}

.profile_block {
    background-image: url("../imgs/photo.jpg");
    background-size: cover;
}

.profile_block p {
    color: ghostwhite;
}

.square_block {
    height: 40vw;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    font-size: 1.5rem;
}

.round_block {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
}

#qrcode {
    margin: 2rem auto;
}

#qrcode img {
    margin: auto;
}

.container-flex {
    background: #12A5F4;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}