#app {
    display: none;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.small {
    font-size: 1rem
}

.medium {
    font-size: 3rem
}

.big {
    font-size: 5rem
}

img.head {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
}

.square_block {
    height: 40vw;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    font-size: 1.5rem;
}

.round_block {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
    text-align: center;
}

#qrcode {
    margin: 2rem auto;
}

#qrcode img {
    margin: auto;
}

.container-flex {
    background: #12A5F4;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 40vw;
    height: 40vw;
    position: relative;
    margin: 0 auto;
    border-radius: 40vw;
    border: solid 15px #fff;
    animation: play 1.5s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes play {
    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
    }
    25% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
    }
    80% {
        transform: scale(1);
    }
}